{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Deerhost Template">
    <meta name="keywords" content="Deerhost, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MCDM</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
        <link rel="stylesheet" href="{% static 'user/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/flaticon.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'user/css/loginpage.css' %}" type="text/css">
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas__menu__overlay"></div>
    <div class="offcanvas__menu__wrapper">
        <div class="canvas__close">
            <span class="fa fa-times-circle-o"></span>
        </div>
        <div class="offcanvas__logo">
            <!-- <a href="#"><img src="img/logo.png' %}" alt=""></a> -->
        </div>
        <nav class="offcanvas__menu mobile-menu">
            <ul>
                <li class="active"><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'publicplans' %}">Plans</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'user_register' %}">Signup</a></li>
                <li><a href="{% url 'user_login' %}">Login</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <ul>
                <li><a href="{% url 'admin_login' %}"><span class="icon_profile"></span> Admin</a></li>
                <li><a href="{% url 'cloud_serivce_provider_login' %}"><span class="icon_profile"></span> Service Provider</a></li>
                <li><a href="{% url 'csmic_login' %}"><span class="icon_profile"></span> Csmi</a></li>
            </ul>
        </div>
        <div class="offcanvas__info">
            <ul>
                <li><span class="icon_phone"></span>+91 8555 8879 86</li>
                <li><span class="fa fa-envelope"></span>info@codebook.com</li>
            </ul>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header-section header-normal">
        <div class="header__info">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__info-left">
                            <ul>
                                <li><span class="icon_phone"></span>+91 8555 8879 86</li>
                                <li><span class="fa fa-envelope"></span> info@codebook.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__info-right">
                            <ul>
                                <li><a href="{% url 'admin_login' %}"><span class="icon_profile"></span> Admin</a></li>
                                <li><a href="{% url 'cloud_serivce_provider_login' %}"><span class="icon_profile"></span> Service Provider</a></li>
                                <li><a href="{% url 'csmic_login' %}"><span class="icon_profile"></span> Csmi</a></li>
                            </ul>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./index.html"><i class="fa fa-database fa-2x" style="color:blue ;"><span style="color: white">&nbsp;MCDM</span></i></a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <nav class="header__menu">
                        <ul>
                            <li ><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'publicplans' %}">Plans</a></li>
                            <li ><a href="{% url 'contact' %}">Contact</a></li>
                            <li><a href="{% url 'user_register' %}">Signup</a></li>
                            <li><a href="{% url 'user_login' %}">Login</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__option">
                        <a href="{% url 'home' %}"><span class="fa fa-home"></span> Home</a>
                        <span>Csmic Login</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Contact Section Begin -->
    <section class="contact-section spad p-4">
        <div class="container mr-5" >

            <div class="contact-wrapper2 " style="justify-content:center">
                <div class="left_side1 mr-2" >
                <img style="width:450px;display:flex;" src="{% static 'user/img/image_3.jpg' %}">
                </div>
                <div class="right_side">
                  <h2>CSMI Login</h2>
                  <form method="post" enctype="multipart/form-data" onsubmit = "return loginvalidation()"  name="myform">
                    {% csrf_token %}
                    <div class="form-row">
                      <input type="text" name='user_email' >
                      <span> Email</span>
                    </div>
                    <div class="form-row">
                      <input type="password" name='user_password' >
                      <span>Password</span>
                    </div>
                    <div class="form-row"></div>
                    <div class="form-row"> 
                      <button type="submit">Login to your Account</button>
                    </div>
                    <div>              
                    </div>
                  </form>
    
                  <div class="socials-wrapper">
                    <h2>Login with your Social Account</h2>
                    <ul>
                      <li><a href="#" class="facebook"><i class="fab fa-facebook-square"></i></a></li>
                      <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#" class="instagram"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="#" class="youtube"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                  </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

    <!-- Contact Form Begin -->
    
    <!-- Contact Form End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section mt-5">
        <div class="footer__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top-call">
                            <h5>Need Help? Call us</h5>
                            <h2>+91 8555 8879 86</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__text set-bg" data-setbg="{% static 'user/img/footer-bg.png' %}">

            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="footer__text-about">
                            <div class="footer__logo">
                                <a href="./index.html"><i class="fa fa-database fa-2x" style="color:blue ;"><span style="color: white">&nbsp;MCDM</span></i></a>
                            </div>
                            <p>mcdm is the on-demand availability of computer system resources, especially data storage (cloud storage) and computing power, without direct active management by the user </p>
                            <div class="footer__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="footer__text-widget">
                            <h5>Company</h5>
                            <ul>
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li ><a href="{% url 'publicplans' %}">Plans</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                                <li><a href="{% url 'user_register' %}">Signup</a></li>
                                <li><a href="{% url 'user_login' %}">Login</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="footer__text-widget">
                            <h5>cONTACT US</h5>
                            <ul class="footer__widget-info">
                                <li><span class="fa fa-map-marker"></span>Metro Pillar No A1662, Siris Road
                                    Snehapuri<br/>
                                    L.B Nagar,Hyd-74</li>
                                <li><span class="fa fa-mobile"></span> +91 8555 8879 86 </li>
                                <li><span class="fa fa-headphones"></span> Support.info@codebook.in</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer__text-copyright">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://codebook.in" target="_blank">CODEBOOK</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'user/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'user/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'user/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'user/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'user/js/main.js' %}"></script>
    <script type="text/javascript">
        function loginvalidation(){
            var Email = document.myform.user_email
            var mailformat = /^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/;
            var password = document.myform.user_password
            
            if (Email.value==""){
                alert("invalid email");
                Email.focus();
                return false;
            }     
        
           if(!Email.value.match(mailformat)){
              alert("Invalid Email format"); 
            Email.focus();            
            return false;
            }      
            if (password.value.length <= 0){
                alert("password should not be emty")
                password.focus();
                return false;
               }
            return true;   
        }
    </script>
</body>

</html>