{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Deerhost Template">
    <meta name="keywords" content="Deerhost, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MCDM</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap"
        rel="stylesheet">
        <script src =  "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>    
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>   
    <!-- Css Styles -->
        <link rel="stylesheet" href="{% static 'user/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/flaticon.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="css/style3.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas__menu__overlay"></div>
    <div class="offcanvas__menu__wrapper">
        <div class="canvas__close">
            <span class="fa fa-times-circle-o"></span>
        </div>
        <div class="offcanvas__logo">
            <!-- <a href="#"><img src="img/logo.png' %}" alt=""></a> -->
        </div>
        <nav class="offcanvas__menu mobile-menu">
            <ul>
                <li ><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'publicplans' %}">Plans</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li class="active"><a href="{% url 'user_register' %}">Signup</a></li>
                <li><a href="{% url 'user_login' %}">Login</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <ul>
                <li><a href="{% url 'admin_login' %}"><span class="icon_profile"></span> Admin</a></li>
                <li><a href="{% url 'cloud_serivce_provider_login' %}"><span class="icon_profile"></span> Service Provider</a></li>
                <li><a href="{% url 'csmic_login' %}"><span class="icon_profile"></span> Csmi</a></li>
            </ul>
        </div>
        <div class="offcanvas__info">
            <ul>
                <li><span class="icon_phone"></span>+91 8555 8879 86</li>
                <li><span class="fa fa-envelope"></span>info@codebook.com</li>
            </ul>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header-section header-normal">
        <div class="header__info">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__info-left">
                            <ul>
                                <li><span class="icon_phone"></span>+91 8555 8879 86</li>
                                <li><span class="fa fa-envelope"></span> info@codebook.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__info-right">
                            <ul>
                                <li><a href="{% url 'admin_login' %}"><span class="icon_profile"></span> Admin</a></li>
                                <li><a href="{% url 'cloud_serivce_provider_login' %}"><span class="icon_profile"></span> Service Provider</a></li>
                                <li><a href="{% url 'csmic_login' %}"><span class="icon_profile"></span> Csmi</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./index.html"><i class="fa fa-database fa-2x" style="color:blue ;"><span style="color: white">&nbsp;MCDM</span></i></a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <nav class="header__menu">
                        <ul>
                            <li ><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'publicplans' %}">Plans</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                            <li class="active"><a href="{% url 'user_register' %}">Signup</a></li>
                            <li><a href="{% url 'user_login' %}">Login</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__option">
                        <a href="{% url 'user_dashboard' %}"><span class="fa fa-home"></span> Home</a>
                        <span>User Registration</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Contact Section Begin -->
    <section class="contact-section spad pt-5">
        <div class="container p-0">
            
            <form method="post" enctype="multipart/form-data"  onsubmit = "return loginvalidation()"  name="myform">
                {% csrf_token %}
                
                
                <div class="row p-0 m-0" style="border-style: ridge;" >
                    
                    <div class="col-md-12">
                        <h2 style="text-align: center;font-weight:bold;color:darkblue;text-decoration:underline" class="p-0 m-0" >User Register</h2>
                        <div class="p-5 py-5" >
                           
                            <div class="row mt-2" >
                                
                                <div class="col-md-6"><label>Name</label><input type="text" class="form-control" name='user_name'placeholder="Enter Your name" ></div>
                                <div class="col-md-6"><label>mobile No</label><input type="text" class="form-control" name='user_mobile' placeholder="Enter Your Mobile No"></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6"><label>Email</label><input type="email" class="form-control"name='user_email' placeholder="Enter your email" ></div>
                                <div class="col-md-6"><label>DOB</label><input type="date" class="form-control"name='user_birth' placeholder="Enter your email" ></div>

                            </div>
                            <div class="row mt-3">
                                <!-- <div class="col-md-6">
                                <div class="upload-btn-wrapper" >
                                    <button class="btn1" style="text-align:start;margin-left:10px" >Upload Profile Image</button>
                                    <input type="file" name="upload_hospital_profile" />
                                </div> 
                            </div>  -->
                            <div class="col-md-6"><label>Upload Profile Image</label><input type="file"  class="form-control" name='user_upload' ></div>
                              
                            <div class="col-md-6"><label>Create a New Password</label><input type="text"  class="form-control" name='user_password' placeholder="Create A New Password"></div>
                            </div>
                            <div class="row mt-3 ">
                               
                                
                                
                                
                            </div>
                            <br>
                            <div class="text-start">
                                <button type="submit" class="btn btn-primary">Submit</button>
                              </div>
                        </div>
                    </div>
                </div>
             
            </form>
           
        </div>
    </section>
    <!-- Contact Section End -->

    <!-- Contact Form Begin -->
    
    <!-- Contact Form End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section mt-5">
        <div class="footer__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top-call">
                            <h5>Need Help? Call us</h5>
                            <h2>+91 8555 8879 86</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                     
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__text set-bg" data-setbg="{% static 'user/img/footer-bg.png' %}">

            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="footer__text-about">
                            <div class="footer__logo">
                                <a href="./index.html"><i class="fa fa-database fa-2x" style="color:blue ;"><span style="color: white">&nbsp;MCDM</span></i></a>
                            </div>
                            <p>mcdm is the on-demand availability of computer system resources, especially data storage (cloud storage) and computing power, without direct active management by the user </p>
                            <div class="footer__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="footer__text-widget">
                            <h5>Company</h5>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Plans</a></li>
                                <li><a href="#">Signup</a></li>
                                <li><a href="#">Login</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="footer__text-widget">
                            <h5>cONTACT US</h5>
                            <ul class="footer__widget-info">
                                <li><span class="fa fa-map-marker"></span>Metro Pillar No A1662, Siris Road
                                    Snehapuri<br/>
                                    L.B Nagar,Hyd-74</li>
                                <li><span class="fa fa-mobile"></span> +91 8555 8879 86 </li>
                                <li><span class="fa fa-headphones"></span> Support.info@codebook.in</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer__text-copyright">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://codebook.in" target="_blank">CODEBOOK</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'user/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'user/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'user/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'user/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'user/js/main.js' %}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script type="text/javascript">
        function loginvalidation(){
            var Email = document.myform.user_email
            var passw=  /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{5,16}$/;
            var mailformat = /^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/;
            var password = document.myform.user_password
            var NamE = document.myform.user_name
            var Mobilenumber = document.myform.user_mobile
            var Typeuser = document.myform.user_birth
            var Uploadfile = document.myform.user_upload
            
            if (NamE.value==""){
                alert("Please Enter Your Name:");
                NamE.focus();
                return false;
            } 

            if (Mobilenumber.value.length != 10) {

                alert("please Enter valid mobile number");
                
                return false;
                
            }
        
            if (Mobilenumber.value.length <= 0) {
        
                alert("Please Enter Mobile Number");
        
                return false;
            }
    
            if (Email.value==""){
                alert("invalid email");
                Email.focus();
                return false;
            }     
        
           if(!Email.value.match(mailformat)){
              alert("Invalid Email format"); 
            Email.focus();            
            return false;
            }   

            if (Typeuser.value == ""){
    
                alert("Please Select DOB: ");
                Typeuser.focus();
        
                return false;
            }

            if (Uploadfile.value==""){
                alert("Please Upload Profile Image:");
                Uploadfile.focus();
                return false;
            }
    
              
            if (password.value.length <= 0){
                alert("password should not be empty")
                password.focus();
                return false;
               }
               if (!password.value.match(passw)){
                alert("password should must be special Characters and Numbers")
                password.focus();
                return false;
               }   
           if (password.value.length < 6){
                alert("password should not be less then six Characters")
                password.focus();
                return false;
               }   
    
      
            return true;   
        }
    </script>
    <script>
    
      {% for x in messages %}
    
      swal({
        
        text: "{{x}}",
        icon: "success",
        button: "ok",
      });
        
      {% endfor %}
    
    </script> 
    {% if messages %}              
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <script>swal({
            title: "Success!",
            text: "{{message}}",
            icon: "success",
            button: "OK",
            });
            </script>
            
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <script>swal({
                title: "Warning :)",
                text: "{{message}}",
                icon: "warning",
                button: "OK",
                });
            </script>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <script>swal({
            title: "error :)",
            text: "{{message}}",
            icon: "error",
            button: "OK",
            });
        </script>
        
            {% endif %}              
        {% endfor %} 
        {% endif %}
    
    

</body>

</html>